
html body {
  margin: 0 !important;
  padding-top: 0 !important;
  background-color: #f1f2f4;
  font-family: lato, sans-serif, siyamrupali, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #333;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.header-search {
  position: relative;
}
.search-results {
  background: #fff;
  width: 100%;
  position: absolute;
  z-index: 3050;
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, .5);
  display: none;
  max-height: 60vh;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
}
form {
  display: block;
  margin-top: 0em;
}
.cart-menu-wrapper {
  margin-right: 15px;
  position: relative;
}
.logged-out-user-menu-btn {
  color: #464646;
  text-align: center;
  width: 80px;
  height: 38px;
  padding-left: 5px;
  padding-right: 5px;
}
.menu-container {
  padding-top: 50px;
}
.menu-wrapper {
  position: relative;
  margin-top: 37px;
}
.main-menu-active {
  border: 1px solid #89c4f4;
  border-bottom-color: #fff;
  padding: 6px 15px;
}
.menu-icon {
  width: 25px;
  margin-top: -10px;
}
.sub-menu-wrapper {
  border: 1px solid #89c4f4;
  border-left-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  margin-top: -1px;
}
.sub-menu {
  overflow: hidden;
  height: 3em;
  text-align: center;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navigation-area{
  padding: 0 0 20px;
  margin-top: 20px;
}
 .home-book-list-title {
   font-size: 160%;
 }
 .book-text-area {
   font-family: kalpurush, sans-serif;
   color: #111;
   padding-top: 15px;
 }
 .book-title {
   font-size: 120%;
 }
.book-author {
  font-size: 110%;
}
 .book-status {
   font-size: 100%;
   color: #33c24d;
 }
 .book-price {
   font-size: 110%;
 }
  .home-book-list-section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -3px #9c9c9c;
    border-radius: 3px;
  }
  .home-book-list-wrapper {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    padding-bottom: 15px;
  }